<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GBCSporting_Flip_Framework</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GBCSporting_Flip_Framework.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/bfc4362999.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="siteNavigation" role="banner">
        <nav class="navbar navbar-expand-lg" style="padding: 0;">
          <div class="container-fluid" style="background-color: black; padding: 0;">
              <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">
                   <div class="logo-image">
                           <img src="/images/logo2.png" class="img-fluid" alt="logo">
                   </div>
              </a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar">
              <span class="navbar-toggler-icon">
                  <i class="fas fa-bars" style="color:#f4f1de; font-size:28px;"></i>
              </span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
              <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                     <li class="nav-item navlist-item"><a class="nav-link navfont" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                     <li class="nav-item navlist-item"><a class="nav-link navfont" asp-area="" asp-controller="Product" asp-action="Index">Products</a></li>
                     <li class="nav-item navlist-item"><a class="nav-link navfont" asp-area="" asp-controller="Technician" asp-action="Index">Technicians</a></li>
                     <li class="nav-item navlist-item"><a class="nav-link navfont" asp-area="" asp-controller="Customer" asp-action="Index">Customers</a></li>
                     <li class="nav-item navlist-item"><a class="nav-link navfont" asp-area="" asp-controller="Incident" asp-action="Index">Incidents</a></li>
                     <li class="nav-item navlist-item"><a class="nav-link navfont" asp-area="" asp-controller="Registration" asp-action="Index">Registration</a></li>
                     <li class="nav-item navlist-item"><a class="nav-link navfont" asp-area="" asp-controller="About" asp-action="Index">About</a></li>
                </ul>
              </div>
            </div>
          </div>
        </nav>
    </header>
        
    <main role="main">
        @RenderBody()
    </main>
    
    <footer class="border-top footer text-muted" style="background-color: black; text-align: center;">
        <div class="container" style="color: #FCA311">
            &copy; 2022 - GBCSporting_Flip_Framework - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
