<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GBCSporting_Flip_Framework</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/GBCSporting_Flip_Framework.styles.css" asp-append-version="true" />
    <script src="https://kit.fontawesome.com/bfc4362999.js" crossorigin="anonymous"></script>
</head>
<body>
    <header class="siteNavigation" role="banner">
        <div class="site-nav">
            <div class="row justify-content-between">
                <div class="col-3">
                    <div class="nav justify-content-start siteBranding">
                        <a href="#" class="nav-link navfont"> Brand </a>
                    </div>
                </div>
                <div class="col-9">
                     <ul class="nav justify-content-end">
                       <li class="nav-item"><a class="nav-link navfont" asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                       <li class="nav-item"><a class="nav-link navfont" asp-area="" asp-controller="Product" asp-action="Index">Products</a></li>
                       <li class="nav-item"><a class="nav-link navfont" asp-area="" asp-controller="Technician" asp-action="Index">Technicians</a></li>
                       <li class="nav-item"><a class="nav-link navfont" asp-area="" asp-controller="Customer" asp-action="Index">Customers</a></li>
                       <li class="nav-item"><a class="nav-link navfont" asp-area="" asp-controller="Incident" asp-action="Index">Incidents</a></li>
                       <li class="nav-item"><a class="nav-link navfont" asp-area="" asp-controller="Registration" asp-action="Index">Registration</a></li>
                       <li class="nav-item"><a class="nav-link navfont" asp-area="" asp-controller="About" asp-action="Index">About</a></li>
                    </ul>
                </div>
            </div>
        </div>         
    </header>
        
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    
    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2022 - GBCSporting_Flip_Framework - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
