@model Customer
@{
    ViewData["Title"] = "Customer Manager";
}
<h1>Confirm Deletion</h1>
<h2>@Model.FirstName @Model.LastName</h2>
<form asp-controller="Customer" asp-action="Delete">
    <input type="hidden" asp-for="CustomerId"/>
    <button type="submit">Delete</button>
    <a asp-controller="Customer" asp-action="Index">Cancel</a>
</form>