@model Customer
@{
    ViewData["Title"] = "Delete Customer";
}
<h2>Confirm Deletion</h2>
<h3>@Model.FirstName @Model.LastName</h3>

<form asp-controller="Customer" asp-action="Delete" method="post">
    <input type="hidden" asp-for="CustomerId"/>
    <button type="submit">Delete</button>
    <a asp-controller="Customer" asp-action="Index">Cancel</a>
</form>