@model Product
@{
    ViewData["Title"] = "Product Manager";
}
<h1>Confirm Deletion</h1>
<h2>@Model.Name Code(@Model.Code)</h2>
<form asp-controller="Product" asp-action="Delete">
    <input type="hidden" asp-for="ProductId"/>
    <button type="submit">Delete</button>
    <a asp-controller="Product" asp-action="Index">Cancel</a>
</form>