@model Product
@{
    ViewData["Title"] = "Product Manager";
}

<h1>@ViewBag.Action</h1>
<form asp-controller="Product" asp-action="Edit">
    <label asp-for="Code">Code</label>
    <input asp-for="Code" />
    <label asp-for="Name">Name</label>
    <input asp-for="Name" />
    <label asp-for="YearlyPrice">Yearly Price</label>
    <input asp-for="YearlyPrice" />
    <label asp-for="ReleaseDate"Release Date></label>
    <input asp-for="ReleaseDate" />
    <input asp-for="ProductId" type="hidden"/>
    <button type="submit">Save</button>
    <a asp-controller="Product" asp-action="Index">Cancel</a>
</form>
