@model IEnumerable<Product>
@{
    ViewData["Title"] = "Product Manager";
}

<h1>Product Manager</h1>
<table>
    <thead>
        <tr>
            <th>Code</th>
            <th>Name</th>
            <th>Price</th>
            <th>Release Date</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Product p in Model)
        {
            <tr>
                <td>@p.Code</td>
                <td>@p.Name</td>
                <td>@p.YearlyPrice.Value.ToString("C")</td>
                <td>@p.ReleaseDate</td>
                <td><a asp-controller="Product" asp-action="Edit" asp-route-id=@p.ProductId>Edit</a></td>
                <td><a asp-controller="Product" asp-action="Delete" asp-route-id=@p.ProductId>Delete</a></td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Product" asp-action="Add">Add</a>