@model Incident
@{
    ViewData["Title"] = "Incident Manager";
}
<h1>Confirm Deletion</h1>
<h2>@Model.Title</h2>
<form asp-controller="Incident" asp-action="Delete">
    <input type="hidden" asp-for="IncidentId"/>
    <button type="submit">Delete</button>
    <a asp-controller="Incident" asp-action="List">Cancel</a>
</form>