@model Incident
@{
    ViewData["Title"] = "Delete Incident";
}
<h2>Confirm Deletion</h2>
<h3>@Model.Title</h3>

<form asp-controller="Incident" asp-action="Delete" method="post">
    <input type="hidden" asp-for="IncidentId"/>
    <button type="submit">Delete</button>
    <a asp-controller="Incident" asp-action="Index">Cancel</a>
</form>