@{
    ViewData["Title"] = "Home Page";
}
   <div class="hero">
     <h1 class="bannerText">Step Up Your Game With Us</h1>
     <div class="d-flex flavourText">
         <p class="fs-2 ">GBC Sporting strives to deliver you the tools 
             you need to keep your games running</p>
    </div>
   </div>