@{
    ViewData["Title"] = "Home Page";
}
   <div class="hero">
     <h1 class="bannerText">Step Up Your Game With Us</h1>
     <div class="d-flex justify-content-evenly bannerButtons">
         <button type="button" class="btn btn-danger" disabled><a asp-controller="Registration" asp-action="Index">Register Here</a></button>
         <button type="button" class="btn btn-danger" disabled><a asp-controller="About" asp-action="Index">About Us</a></button>
     </div>
     <div class="d-flex flavourText">
        <p class="fs-2 ">GBC Sporting strives to deliver you the tools you need to keep your games running</p>
    </div>
   </div>




