@import url('https://fonts.googleapis.com/css?family=Roboto');

/*General Styling Elements*/
* {
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

html {
  position: relative;
  min-height: 100%;
}

body {
    margin-bottom: 60px;
    font-family: 'Roboto', sans-serif;
    text-shadow: 1px 1px 3px rgba(4,1,33,0.25);
    background-color: black;
}

/*Navigation styling elements*/
.navfont, .navfont:hover, nav.navbar > .container-fluid > .navbar-brand {
    color: #f4f1de;
    font-size: 22px;
    padding: 0;
    margin-top: -5px;
}

li.navlist-item {
    display: table-cell;
    position: relative;
}

a .navfont{
    text-transform: uppercase;
    text-decoration: none;
    letter-spacing: 0.15em;
    display: inline-block;
    padding: 15px 20px;
    position: relative;
}

 .navfont:after {
     bottom: 0;
     content: "";
     display: block;
     height: 2px;
     left: 50%;
     position: absolute;
     background: #FCA311;
     transition: width 0.3s ease 0s, left 0.3s ease 0s;
     width: 0;
 }

a:hover:after {
    width: 100%;
    left: 0;
}
.logo-image{
    width: 60px;
    height: 60px;
    margin-top: 20%;
}

.offcanvas > .offcanvas-header{
    background-color: white;
}

.offcanvas > .offcanvas-header > h5{
    color: black;
}

/*Hero Banner Section Styling Elements*/
.hero {
    /*position: relative;
    top: -4.2rem;
    left: 0;
    
    
    background: url(/images/hero_splash.jpg);
    background-position: center center;
    background-size: cover;
    background-attachment:fixed;
    
    z-index: -1;*/
    background: url(/images/hero_splash.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 100vh;
    width: 100%;
    margin: 0;
}
main{
    width: 100%;
    height: 100%;
}

.bannerText {
    position: relative;
    top: 5rem;
    left: 31%;
    color: #FCA311;
    font-size: 3.85vw;
    width: 40vw;
    margin: 0;
    text-align: center;
}

.bannerButtons {
    display: inline;
    position: relative;
    top: 55vh;
    left: 2vw;
    width: 25rem;
}
.flavourText {
    position: relative;
    top: 20vh;
    left: 30vw;
    width: 40%;
    height:30%;
    text-align: center;
}
.bannerButtons a, .flavourText > p {
     text-decoration: none;
     color: #FCA311;
     font-size: 1.75vw;
     background-color: rgba(0, 0, 0,0.70);
     padding: 5%;
 }
/*Body Section of Home*/

/*Table Styling Elements*/

.tablebg {
    margin: 5em auto 5em auto;
    background-color: #14213D;
    padding: 1em;
    border-radius: 10px;
    max-width: 1120px;
    color: black;
}
.responsive-table{
    padding: 0 1rem;
}
.responsive-table li {
    border-radius: 3px;
    padding: 25px 30px;
    justify-content: space-between;
    margin: 0 auto .5rem auto;
}
.table-header {
    background-color: black;
    font-size: 20px;
    text-transform: uppercase;
    letter-spacing: 0.03em;
    color: #FCA311;
}
.table-row {
    background-color: #E5E5E5;
}

.sneakylabel{
    font-size: 16px;
    font-weight: bold;
    text-transform: uppercase;
}
.padding{
    padding: 0 2.5rem;
}

@media only screen and (max-width: 767px){
    .table-row{
        max-width: 400px;
    }
}


/*Form styling elements*/
.formWrapping {
    position: relative;
    max-width: 750px;
    height: auto;
    margin: 0 auto 0 auto;
    padding: 1em;
    background-color: #14213D;
    border-radius: 1em;
    color: #FCA311;
}

    .formWrapping input[type = text],
    .formWrapping select,
    .formWrapping input[type = datetime-local]{
        border: 1px solid hsla(132, 6%, 83%, 1);
        background: hsla(0, 0%, 93%, .95);
        box-shadow: inset 0 0 5px 1px hsla(132, 6%, 83%, 1);
        color: #292929;
        font-size: 15px;
        margin-bottom: 1rem;
        height: 3rem;
        padding: .5rem;
        font-weight:bold;
        text-transform:uppercase;
    }

.formbutton {
    background: #FCA311;
    padding: 10px;
    width: 5rem;
    height: 3rem;
    color: black;
}
.formTitle {
    color: #FCA311;
    font-size: 2.5rem;
    font-weight: bold;
}
button a {
    text-decoration: none;
    color: #f4f1de;
}

.formbutton:hover {
    color: white;
}

