@model Incident
@{
    string title = ViewBag.Action + " Incident";
    ViewBag.Title = title;
}

<div class="addmargins">
    <div class="container-fluid padding my-4">
        <div class="formWrapping row-md g-2">
            <form method="post">
                <span class="formTitle row justify-content-center">@title</span>
                <div asp-validation-summary="All" class="text-danger"></div>
                <input type="hidden" asp-for="IncidentId" class="form-control" />
                <input type="hidden" asp-for="CustomerId" class="form-control" />
                <input type="hidden" asp-for="Product.ProductId" class="form-control" />
                <input type="hidden" asp-for="Product.YearlyPrice" class="form-control"/>
                
                <input type="hidden" asp-for="Technician.TechnicianId" class="form-control" />
                <input type="hidden" asp-for="Technician.TechEmail" class="form-control"/>
                <input type="hidden" asp-for="Technician.TechPhone" class="form-control"/>
                <input type="hidden" asp-for="Product.Code" class="form-control" />
        
        
                <div class="row">
                    <div class="col-md-12">
                        <label asp-for="Technician.TechnicianId" class="form-label">Technician</label>
                        <input type="text" asp-for="Technician.TechName" class="form-control" readonly/>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Customer</label>
                        <input type="text" asp-for="Customer.FullName" class="form-control" readonly/>
                    </div>
                    <div class="col-md-12">
                        <label asp-for="Product.ProductId" class="form-label">Product</label>
                        <input type="text" asp-for="Product.Name" class="form-control" readonly/>
                    </div>
                    <div class="col-md-12">
                        <label class="form-label">Title</label>
                        <input asp-for="Title" class="form-control" readonly/>
                    </div>

                    <div class="col-md-12">
                        <label asp-for="DateOpened" class="form-label">Date Opened</label>
                        <input type="datetime-local" asp-for="DateOpened" class="form-control" readonly/>
                    </div>

                    <div class="col-md-12">
                        <label asp-for="Description" class="form-label">Description</label>
                        <input asp-for="Description" class="form-control"/>
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    
                    <div class="col-md-12">
                        <label asp-for="DateOpened" class="form-label">Date Closed</label>
                        <input type="datetime-local" asp-for="DateClosed" class="form-control"/>
                    </div>
                </div>


                @*action buttons*@
                <div class="row">
                    <div class="col-12 d-grid gap-3 d-lg-flex justify-content-center">
                        <input type="submit" value="Save" class="btn formbutton rounded-pill accept_color grow"/>
                        <a class="btn formbutton rounded-pill cancel_color grow" asp-action="List" asp-route-Id="@Model.TechnicianId">Cancel</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
