@model Technician
@{
    ViewData["Title"] = "Technician";
}

<div class="addmargins">
    <div class="container-fluid padding my-4">
        <div class="formWrapping row-md g-2">
            <h1>@ViewBag.Error</h1>
            <form method="get">
                <div class="row">
                    <div class="col-md-12">
                        <h4>Technician</h4>
                        <select asp-for="TechnicianId" asp-items='@new SelectList(ViewBag.Technicians, "TechnicianId", "TechName")' class="form-select">
                                <option value="0">SELECT TECHNICIAN</option>
                        </select>
                    </div>
                </div>

                @*action buttons*@
                <div class="row">
                    <div class="col-12 d-grid gap-3 d-lg-flex justify-content-center">
                        <input type="submit" asp-action="List" value="Get" class="btn formbutton rounded-pill w-25">
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>