
@{
    ViewData["Title"] = "Index";
}

   <div class="hero text-center">
       <div class="container-fluid">
           <h1 class="bannerText mx-auto">Step Up Your Game With Us</h1>
         <h5 class="fs-4 d-md-flex d-none flavourText mx-auto">GBC Sporting strives to deliver you the tools 
             you need to keep your games running</h5>
       </div>
    </div>

