@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Select Customer";
}
<div class="addmargins">
    <div class="container-fluid padding my-4">
        <div class="formWrapping row-md g-2">
            <form asp-action="Register" method="post">
                <div asp-validation-summary="ModelOnly"></div>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="p-0" style="color: #FCA311;">Get Customer</h1>
                        <select name="customerId" asp-items='@new SelectList(Model, "CustomerId", "FullName")' class="form-select">
                                <option value="0">SELECT CUSTOMER</option>
                        </select>
                        @if (TempData.Keys.Contains("ErrorMessage"))
                        {
                            <span class="fs-5" style="color: #D9534F;">@TempData["ErrorMessage"]</span>
                        }
                    </div>
                </div>
                @*action buttons*@
                <div class="row">
                    <div class="col-12 d-grid gap-3 d-lg-flex justify-content-center">
                        <button class="btn formbutton rounded-pill accept_color_add grow" type="submit">Get Customer</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

