@model IEnumerable<Customer>
@{
    ViewData["Title"] = "Select Customer";
}
<div class="addmargins">
    <div class="container-fluid padding my-4">
        <div class="formWrapping row-md g-2">
            <form asp-action="Select" method="post">
                <div asp-validation-summary="All"></div>
                <div class="row">
                    <div class="col-md-12">
                        <h1 class="p-0" style="color: #FCA311;">Get Customer</h1>
                        <select name="id" asp-items='@new SelectList(Model, "CustomerId", "FullName")' class="form-select">
                                <option value="0">SELECT CUSTOMER</option>
                        </select>
                    </div>
                </div>

                @*action buttons*@
                <div class="row">
                    <div class="col-12 d-grid gap-3 d-lg-flex justify-content-center">
                        <a asp-controller="Registration" asp-action="Registered" value="Select" class="btn formbutton rounded-pill w-25" role="button">Select</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

