@model Technician
@{
    ViewData["Title"] = "Delete Technician";
}
<div class="addmargins">
    <div class="container my-4 mx-auto">
        <div class="card mx-auto  bg-warning" style="width: 25rem;">
          <div class="card-body text-center text-white h-auto">
              <span class="card-header"><i class="fa-solid fa-id-badge fa-lg" style="font-size: 3.5rem;"></i></span>
          </div>
          <div class="card-body">
            <h5 class="card-title">Confirm Delete</h5>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item"><strong>Technician Name</strong> @Model.TechName</li>
            <li class="list-group-item"><strong>Email</strong> @Model.TechEmail</li>
            <li class="list-group-item"><strong>Phone</strong> @Model.TechPhone</li>
          </ul>
          <div class="card-body text-center">
            <form asp-controller="Technician" asp-action="Delete" method="post">
                <input type="hidden" asp-for="TechnicianId"/>
                <input type="hidden" asp-for="TechName"/>
                <p class="d-inline-flex my-auto">
                    <button type="submit" class="btn formbuttoncircle"><i class="fa-solid fa-circle-check fa-lg" style="color:black;"></i></button>
                    <button class="btn formbuttoncircle" asp-controller="Technician" asp-action="Index"><i class="fa-solid fa-xmark fa-lg" style="color:black; font-size: 22px;"></i></button>
                </p>
            </form>
          </div>
        </div>
    </div>
</div>