@model Technician
@{
    ViewData["Title"] = "Technician Manager";
}
<h1>Confirm Deletion</h1>
<h2>@Model.TechName</h2>
<form asp-controller="Technician" asp-action="Delete">
    <input type="hidden" asp-for="TechnicianId"/>
    <button type="submit">Delete</button>
    <a asp-controller="Technician" asp-action="Index">Cancel</a>
</form>