@model Technician
@{
    ViewData["Title"] = "Delete Technician";
}
<h2>Confirm Deletion</h2>
<h3>@Model.TechName</h3>

<form asp-controller="Technician" asp-action="Delete" method="post">
    <input type="hidden" asp-for="TechnicianId"/>
    <button type="submit">Delete</button>
    <a asp-controller="Technician" asp-action="Index">Cancel</a>
</form>