@model Technician
@{
    string title = ViewBag.Action + " Technician";
    ViewBag.Title = title;
}
<div class="addmargins">
    <div class="container-fluid padding my-4" >
        <div class="formWrapping row-cols-md-1 g-2">
            <form asp-controller="Technician" asp-action="Edit" method="post">
                <span class="formTitle row justify-content-center">@title</span>
                <div asp-validation-summary="ModelOnly"></div>
                <div class="row">
                    <div class="col-md-12">
                          <label asp-for="TechName" class="form-label">Name</label>
                          <input asp-for="TechName" class="form-control"/>
                          <span asp-validation-for="TechName" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <label asp-for="TechEmail" class="form-label">Email</label>
                        <input asp-for="TechEmail" class="form-control"/>
                        <span asp-validation-for="TechEmail" class="text-danger"></span>
                    </div>
                    <div class="col-md-12">
                        <label asp-for="TechPhone" class="form-label">Phone</label>
                        <input asp-for="TechPhone" class="form-control"/>
                        <span asp-validation-for="TechPhone" class="text-danger"></span>
                    </div>
                </div>
                <input asp-for="TechnicianId" type="hidden"/>

                @*action buttons*@
                <div class="row">
                    <div class="col-12 d-grid gap-3 d-lg-flex justify-content-center">
                        <button type="submit" class="btn formbutton rounded-pill">@ViewBag.Action</button>
                        <button class="btn formbutton rounded-pill" asp-controller="Technician" asp-action="Index">Cancel</button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>