@model List<Technician>
@{
    ViewData["Title"] = "Technican Manager";
}

<h1>Technician Manager</h1>
<table>
    <thead>
        <tr>
            <th>Name</th>
            <th>Email</th>
            <th>Phone</th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Technician t in Model)
        {
            <tr>
                <td>@t.TechName</td>
                <td>@t.TechEmail</td>
                <td>@t.TechPhone</td>
                <td><a asp-controller="Technician" asp-action="Edit" asp-route-id=@t.TechnicianId>Edit</a></td>
                <td><a asp-controller="Technician" asp-action="Delete" asp-route-id=@t.TechnicianId>Delete</a></td>
            </tr>
        }
    </tbody>
</table>
<a asp-controller="Technician" asp-action="Add">Add</a>